In [1]:
import warnings
import numpy as np
import seaborn as sns

from utils import load_flights, load_airports, load_carriers, load_plane_data
from utils.data_preparation import prepare_data

np.random.seed(42)
sns.set_style("whitegrid")

prepare_data()

warnings.simplefilter(action="ignore")

INFO:root:Extracting data.
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1987.csv.bz2. Original size 507743946 bytes shrinked to 131229162 bytes (0.25846)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1989.csv.bz2. Original size 1951261876 bytes shrinked to 504166503 bytes (0.25838)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1993.csv.bz2. Original size 1962284031 bytes shrinked to 507094966 bytes (0.25842)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1991.csv.bz2. Original size 1965311523 bytes shrinked to 507738212 bytes (0.25835)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1992.csv.bz2. Original size 1970664903 bytes shrinked to 509261286 bytes (0.25842)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1994.csv.bz2. Original size 2004678720 bytes shrinked to 518049366 bytes (0.25842)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1988.csv.bz2. Original size 2013500352 bytes shrinked to 520256162 bytes (0.25838)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1990.csv.bz2. Original size 2040167959 bytes shrinked to 527135308 bytes (0.25838)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1995.csv.bz2. Original size 2352998798 bytes shrinked to 511830073 bytes (0.21752)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1996.csv.bz2. Original size 2363733072 bytes shrinked to 503481643 bytes (0.21300)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1998.csv.bz2. Original size 2378141804 bytes shrinked to 506572318 bytes (0.21301)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1997.csv.bz2. Original size 2390131711 bytes shrinked to 509112090 bytes (0.21301)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2002.csv.bz2. Original size 2335356597 bytes shrinked to 485805573 bytes (0.20802)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/1999.csv.bz2. Original size 2441380244 bytes shrinked to 520042469 bytes (0.21301)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2000.csv.bz2. Original size 2509875363 bytes shrinked to 534634409 bytes (0.21301)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/airports.csv. Original size 1126640 bytes shrinked to 710844 bytes (0.63094)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/carriers.csv. Original size 203394 bytes shrinked to 203394 bytes (1.00000)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/plane-data.csv. Original size 2607335 bytes shrinked to 710586 bytes (0.27253)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/variable-descriptions.csv. Original size 4751 bytes shrinked to 4627 bytes (0.97390)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2001.csv.bz2. Original size 2698839216 bytes shrinked to 549568948 bytes (0.20363)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2003.csv.bz2. Original size 3022024926 bytes shrinked to 590955747 bytes (0.19555)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2008.csv.bz2. Original size 1113722333 bytes shrinked to 227478578 bytes (0.20425)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2004.csv.bz2. Original size 3323839570 bytes shrinked to 563739985 bytes (0.16961)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2005.csv.bz2. Original size 3329298635 bytes shrinked to 564612807 bytes (0.16959)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2006.csv.bz2. Original size 3329483647 bytes shrinked to 579001203 bytes (0.17390)
INFO:root:Converted /Users/user/Desktop/pw/Airline Perfomrmance Data Analysis/src/datasets/2007.csv.bz2. Original size 3476649922 bytes shrinked to 604244363 bytes (0.17380)

# Fast EDA for 2008 year

In [2]:
flights = load_flights(["2008"])

In [3]:
flights.memory_usage(deep=True)

Index                     128
DayOfWeek             2389217
UniqueCarrier         2390953
FlightNum             4778434
TailNum               5227481
ActualElapsedTime     9556868
CRSElapsedTime        9556868
AirTime               9556868
ArrDelay              9556868
DepDelay              9556868
Origin                4804190
Dest                  4804310
Distance              4778434
TaxiIn                9556868
TaxiOut               9556868
Cancelled             2389217
CancellationCode      2389621
Diverted              2389217
CarrierDelay          9556868
WeatherDelay          9556868
NASDelay              9556868
SecurityDelay         9556868
LateAircraftDelay     9556868
Departure            19113736
CRSDeparture         19113736
Arrival              19113736
CRSArrival           19113736
dtype: int64

In [4]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389217 entries, 0 to 2389216
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   DayOfWeek          uint8
 1   UniqueCarrier      category
 2   FlightNum          uint16
 3   TailNum            category
 4   ActualElapsedTime  float32
 5   CRSElapsedTime     float32
 6   AirTime            float32
 7   ArrDelay           float32
 8   DepDelay           float32
 9   Origin             category
 10  Dest               category
 11  Distance           uint16
 12  TaxiIn             float32
 13  TaxiOut            float32
 14  Cancelled          uint8
 15  CancellationCode   category
 16  Diverted           uint8
 17  CarrierDelay       float32
 18  WeatherDelay       float32
 19  NASDelay           float32
 20  SecurityDelay      float32
 21  LateAircraftDelay  float32
 22  Departure          datetime64[ns]
 23  CRSDeparture       datetime64[ns]
 24  Arrival            datetime64[ns]
 25  CRSArrival         datetime64[ns]
dtypes: category(5), datetime64[ns](4), float32(12), uint16(2), uint8(3)
memory usage: 216.6 MB

In [5]:
flights.describe().T

,count,mean,min,25%,50%,75%,max,std
DayOfWeek,2389217.0,3.909625,1.0,2.0,4.0,6.0,7.0,1.980431
FlightNum,2389217.0,2213.88798,1.0,605.0,1544.0,3631.0,9741.0,1951.392101
ActualElapsedTime,2319121.0,128.618912,14.0,78.0,111.0,160.0,905.0,70.253036
CRSElapsedTime,2388810.0,129.377563,-25.0,80.0,111.0,160.0,1435.0,69.48246
AirTime,2319121.0,105.101639,0.0,56.0,87.0,134.0,886.0,67.668015
ArrDelay,2319121.0,10.273575,-91.0,-9.0,0.0,15.0,2461.0,39.634289
DepDelay,2324775.0,11.43636,-92.0,-4.0,0.0,11.0,2467.0,36.532295
Distance,2389217.0,726.158911,17.0,325.0,583.0,957.0,4962.0,557.176261
TaxiIn,2319121.0,6.839862,0.0,4.0,6.0,8.0,213.0,4.846435
TaxiOut,2324775.0,16.685841,0.0,10.0,14.0,19.0,383.0,11.029049
Cancelled,2389217.0,0.026972,0.0,0.0,0.0,0.0,1.0,0.162002
Diverted,2389217.0,0.002366,0.0,0.0,0.0,0.0,1.0,0.048589
CarrierDelay,584583.0,15.752957,0.0,0.0,0.0,16.0,2436.0,40.035488
WeatherDelay,584583.0,2.938243,0.0,0.0,0.0,0.0,1148.0,19.166662
NASDelay,584583.0,16.158463,0.0,0.0,5.0,20.0,1357.0,30.534166
SecurityDelay,584583.0,0.080459,0.0,0.0,0.0,0.0,392.0,1.742579
LateAircraftDelay,584583.0,20.976709,0.0,0.0,0.0,27.0,1254.0,38.617153
Departure,2389217,2008-03-01 20:29:43.454161152,2008-01-01 00:00:00,2008-01-31 14:26:00,2008-03-02 07:58:00,2008-04-01 05:56:00,2008-04-30 23:59:00,NaN
CRSDeparture,2389217,2008-03-01 20:44:28.717475584,2008-01-01 00:10:00,2008-01-31 14:40:00,2008-03-02 08:10:00,2008-04-01 06:15:00,2008-04-30 23:59:00,NaN
Arrival,2389217,2008-03-01 21:52:08.777434880,2008-01-01 00:00:00,2008-01-31 16:04:00,2008-03-02 09:25:00,2008-04-01 01:03:00,2008-04-30 23:59:00,NaN
CRSArrival,2389217,2008-03-01 22:25:26.485948928,2008-01-01 00:00:00,2008-01-31 16:34:00,2008-03-02 09:55:00,2008-04-01 07:34:00,2008-04-30 23:59:00,NaN

In [6]:
flights.isna().sum(axis=0)

DayOfWeek                  0
UniqueCarrier              0
FlightNum                  0
TailNum                42452
ActualElapsedTime      70096
CRSElapsedTime           407
AirTime                70096
ArrDelay               70096
DepDelay               64442
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 70096
TaxiOut                64442
Cancelled                  0
CancellationCode     2324775
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
Departure                  0
CRSDeparture               0
Arrival                    0
CRSArrival                 0
dtype: int64

In [7]:
flights.head()

,DayOfWeek,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Departure,CRSDeparture,Arrival,CRSArrival
0,4,WN,588,N240WN,68.0,70.0,55.0,16.0,18.0,HOU,...,0,16.0,0.0,0.0,0.0,0.0,2008-01-03 13:43:00,2008-01-03 13:25:00,2008-01-03 14:51:00,2008-01-03 14:35:00
1,4,WN,1343,N523SW,82.0,85.0,71.0,2.0,5.0,HOU,...,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 11:25:00,2008-01-03 11:20:00,2008-01-03 12:47:00,2008-01-03 12:45:00
2,4,WN,3841,N280WN,87.0,85.0,71.0,-4.0,-6.0,HOU,...,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:09:00,2008-01-03 20:15:00,2008-01-03 21:36:00,2008-01-03 21:40:00
3,4,WN,3,N308SA,120.0,130.0,108.0,-2.0,8.0,HOU,...,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 09:03:00,2008-01-03 08:55:00,2008-01-03 12:03:00,2008-01-03 12:05:00
4,4,WN,25,N462WN,123.0,130.0,107.0,16.0,23.0,HOU,...,0,16.0,0.0,0.0,0.0,0.0,2008-01-03 14:23:00,2008-01-03 14:00:00,2008-01-03 17:26:00,2008-01-03 17:10:00

# Example for all years

In [8]:
flights = load_flights()
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118914458 entries, 0 to 118914457
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   DayOfWeek          uint8
 1   UniqueCarrier      category
 2   FlightNum          uint16
 3   TailNum            category
 4   ActualElapsedTime  float32
 5   CRSElapsedTime     float32
 6   AirTime            float32
 7   ArrDelay           float32
 8   DepDelay           float32
 9   Origin             category
 10  Dest               category
 11  Distance           float32
 12  TaxiIn             float32
 13  TaxiOut            float32
 14  Cancelled          uint8
 15  CancellationCode   category
 16  Diverted           uint8
 17  CarrierDelay       float32
 18  WeatherDelay       float32
 19  NASDelay           float32
 20  SecurityDelay      float32
 21  LateAircraftDelay  float32
 22  Departure          datetime64[ns]
 23  CRSDeparture       datetime64[ns]
 24  Arrival            datetime64[ns]
 25  CRSArrival         datetime64[ns]
dtypes: category(5), datetime64[ns](4), float32(13), uint16(1), uint8(3)
memory usage: 10.7 GB

In [9]:
flights.memory_usage(deep=True)

Index                      128
DayOfWeek            118914458
UniqueCarrier        118917249
FlightNum            237828916
TailNum              239274298
ActualElapsedTime    475657832
CRSElapsedTime       475657832
AirTime              475657832
ArrDelay             475657832
DepDelay             475657832
Origin               237857972
Dest                 237858272
Distance             475657832
TaxiIn               475657832
TaxiOut              475657832
Cancelled            118914458
CancellationCode     118914862
Diverted             118914458
CarrierDelay         475657832
WeatherDelay         475657832
NASDelay             475657832
SecurityDelay        475657832
LateAircraftDelay    475657832
Departure            951315664
CRSDeparture         951315664
Arrival              951315664
CRSArrival           951315664
dtype: int64

In [10]:
planes = load_plane_data()
planes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5029 entries, 0 to 5028
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        5029 non-null   object
 1   type           4480 non-null   category
 2   manufacturer   4480 non-null   category
 3   issue_date     4479 non-null   category
 4   model          4480 non-null   category
 5   status         4480 non-null   category
 6   aircraft_type  4480 non-null   category
 7   engine_type    4477 non-null   category
 8   year           4335 non-null   float32
dtypes: category(7), float32(1), object(1)
memory usage: 123.8+ KB

In [11]:
planes.tail()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992.0
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0

In [12]:
airports = load_airports()
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iata     3376 non-null   object
 1   airport  3376 non-null   object
 2   city     3364 non-null   object
 3   state    3364 non-null   category
 4   country  3376 non-null   category
 5   lat      3376 non-null   float32
 6   long     3376 non-null   float32
dtypes: category(2), float32(2), object(3)
memory usage: 112.7+ KB

In [13]:
airports.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953764,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685862,-95.017929
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945747,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741348,-78.052078
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688013,-81.905945

In [14]:
carriers = load_carriers()
carriers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1490 non-null   object
 1   Description  1491 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

In [15]:
carriers.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.